<html>
  <header>
    <title>Bookmark Manager</title>
  </header>
  <body>

  <%= partial :header %>
  <%= partial :flash %>
  <%= yield %>
  </body>

    <% if current_user %>
      Welcome, <%= current_user.email %>
      <form method="post" action="/sessions">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
    <% end %>

    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
    </div>
      <% end %>

    <% if flash.now[:errors] && !flash.now[:errors].empty? %>
    Sorry, there were the following problems with the form
      <ul id='errors'>
        <% flash.now[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
     <% end %>

    
    <%= yield %>
    <footer>
      <!-- Made at Makers Academy -->
    </footer>
  </body>
</html>